<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<!-- Dependency injection -->

	<!-- Property injection / setter injection -->

	<bean id="employee" class="com.cg.spring.core.demo.aug3.Employee">
		<property name="eid">
			<value>101</value>
		</property>
		<property name="ename">
			<value>Sonu</value>
		</property>
		<property name="salary">
			<value>10.5</value>
		</property>
	</bean>

	<bean id="employee2" class="com.cg.spring.core.demo.aug3.Employee">
		<property name="eid">
			<value>102</value>
		</property>
		<property name="ename">
			<value>Monu</value>
		</property>
		<property name="salary">
			<value>20.5</value>
		</property>
	</bean>

	<!-- Constructor injection -->

	<bean id="employee3" class="com.cg.spring.core.demo.aug3.Employee">
		<constructor-arg value="103" type="int"></constructor-arg>
		<constructor-arg value="Tonu" type="java.lang.String"></constructor-arg>
		<constructor-arg value="103" type="double"></constructor-arg>
	</bean>

	<!-- Inner bean -->

	<bean id="employee4" class="com.cg.spring.core.demo.aug3.Employee">
		<property name="eid">
			<value>104</value>
		</property>
		<property name="ename">
			<value>Ponu</value>
		</property>
		<property name="salary">
			<value>40.5</value>
		</property>
		<property name="department">
			<bean id="department"
				class="com.cg.spring.core.demo.aug3.Department">
				<property name="did" value="20"></property>
				<property name="dname" value="Marketing"></property>
				<property name="functions">
					<list>
						<value>Sales</value>
						<value>Promotions</value>
						<value>Customer Care</value>
					</list>
				</property>
			</bean>
		</property>
	</bean>







</beans>

